# 10강 리스트의 이해

- 리스트 : 변수를 그룹으로 묶은 형태의 한 종류, 대괄호[]에 값들을 담을 수 있으며 서로 다른 타입의 데이터들이 저장될 수 있음
  - 리스트에는 각 변수의 칸이 있으며, 0부터 일련번호가 지정됨(인덱스)

In [5]:
# 5명의 학생에 대한 성적 나열 -> 정수형의 원소만 갖는 리스트
grade = [98, 82, 73, 64, 100]
grade

[98, 82, 73, 64, 100]

In [6]:
# 각 학생의 이름에 대한 나열 -> 문자열 타입의 원소만 갖는 리스트
names = ["철수", "영희", "나영", "민식", "호영"]
names

['철수', '영희', '나영', '민식', '호영']

In [7]:
# 서로 다른 자료형들을 함께 사용 가능
student = ["철수", 17, 162.4, 68.5, "남자", True]
student

['철수', 17, 162.4, 68.5, '남자', True]

- 리스트에 존재하지 않는 인덱스에는 접근할 수 없음
  - 데이터 변경, 추가가 순차적이더라도 일단 인덱스가 없으면 적용 불가

In [8]:
# 인덱스 번호를 통해 각 원소에 접근할 수 있다.
items = [10, 20, 30]
print(items[0])
print(items[1])
print(items[2])

10
20
30

In [9]:
# 값의 변경
mydata = [100, 200, 300]
print(mydata)

mydata[0] = 0
mydata[1] = mydata[1] - 150
mydata[2] //= 3
print(mydata)

[100, 200, 300]
[0, 50, 100]

In [10]:
stud1 = ['철수', 92]
stud2 = ['민영', 86]
stud3 = ['영수', 91]

# 리스트의 원소를 직접 출력하는 활용 예시
msg = "{0}(이)의 점수는 {1}점 입니다."
print(msg.format(stud1[0], stud1[1]))
print(msg.format(stud2[0], stud2[1]))
print(msg.format(stud3[0], stud3[1]))

철수(이)의 점수는 92점 입니다.
민영(이)의 점수는 86점 입니다.
영수(이)의 점수는 91점 입니다.

- 리스트의 연산
  - 덧셈 : 리스트끼리 덧셈을 하면 리스트가 순서대로 연결됨
    - 리스트에는 숫자나 문자를 더할 수 없음
  - 곱셈 : 리스트에 자연수를 곱하면 리스트가 해당 수만큼 반복되는 리스트가 생성됨
    - 리스트끼리는 곱할 수 없음

In [11]:
# 실습을 위한 리스트 정의
list1 = [10, 20, 30]
list2 = [40, 50, 60]
print(list1)
print(list2)

[10, 20, 30]
[40, 50, 60]

In [12]:
# 리스트끼리의 덧셈은 단순 병함
list3 = list1 + list2
print(list3)

[10, 20, 30, 40, 50, 60]

In [13]:
# 리스트와 정수의 곱셈은 동일 내용을 반복한다.
list4 = list1 * 5
print(list4)

[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]

In [ ]:
# 리스트의 연산 에러케이스

print(list1 + 10) # 리스트 + 정수
print(list1 + "hi") # 리스트 + 문자열
print(list1 * list2) # 리스트 * 리스트

## 2차원 리스트

- 1차원 리스트 : 1단으로만 존재하는 리스트로 열 개념만 존재
- 2차원 리스트 : 1차원 리스트의 원소에 새로운 리스트를 넣은 형태
  - 1차원 리스트의 각 칸은 행, 행별로 추가된 리스트가 열의 개념이 되어 행렬을 구성함
- 다차원 리스트 : 리스트 내부에 리스트를 계속 넣어 여러 단계로 구성된 리스트
  - 실무에서는 2차원 리스트를 초과하는 형태는 잘 쓰지 않음

In [14]:
# 각 학생별 이름, 점수 정의
stud1 = ["철수", 98]
stud2 = ["영희", 82]
stud3 = ["나영", 73]

# 리스트를 원소로 갖는 새로운 리스트 정의
studentGroup = [stud1, stud2, stud3]
print(studentGroup)

[['철수', 98], ['영희', 82], ['나영', 73]]

In [15]:
# 2차원 리스트의 일괄 생성
# -> 바깥의 리스트에 속한 원소들은 행을 구성하고, 안쪽의 리스트에 속한 원소들은 열을 구성한다.

studentGroup2 = [
    ["민식", 64, 172.3],
    ["호영", 100, 175.8],
    ["철민", 89, 168.7]
]

print(studentGroup2)

[['민식', 64, 172.3], ['호영', 100, 175.8], ['철민', 89, 168.7]]

In [16]:
# 실습을 위한 리스트 정의
학생 = [["민식", 64, 172.3], ["호영", 100, 175.8], ["철민", 89, 168.7]]

In [17]:
# 0번째 행에 대한 접근
print(학생[0])

['민식', 64, 172.3]

In [18]:
# 1번째 행에 대한 접근
print(학생[1])

['호영', 100, 175.8]

In [19]:
# 2번째 행에 대한 접근
print(학생[2])

['철민', 89, 168.7]

In [20]:
# 문자열 형식 지정
fmt = "{name}(이)의 몸무게는 {weight}kg이고, 키는 {height}cm 입니다."

In [21]:
print(fmt.format(name = 학생[0][0], weight = 학생[0][1], height = 학생[0][2]))
print(fmt.format(name = 학생[1][0], weight = 학생[1][1], height = 학생[1][2]))
print(fmt.format(name = 학생[2][0], weight = 학생[2][1], height = 학생[2][2]))

민식(이)의 몸무게는 64kg이고, 키는 172.3cm 입니다.
호영(이)의 몸무게는 100kg이고, 키는 175.8cm 입니다.
철민(이)의 몸무게는 89kg이고, 키는 168.7cm 입니다.