In [1]:
import numpy as np

# 넘파이 배열의 구조

- 넘파이 모듈의 기본 배열은 ndarray(n-dimension array 다차원배열)

In [2]:
# 리스트를 다차원배열로 변환
li = [1, 2, 3, 4]
li_arr = np.array(li) # 다차원 배열을 만드는 함수

In [3]:
li_arr

array([1, 2, 3, 4])

In [4]:
type(li_arr)

numpy.ndarray

In [5]:
# 튜플을 다차원배열로 변환
tu = (1, 2, 3, 4)
tu_arr = np.array(tu)

In [6]:
tu_arr

array([1, 2, 3, 4])

In [7]:
type(tu_arr)

numpy.ndarray

In [8]:
# 넘파이 배열도 mutable의 특징을 가짐
# 변수를 다른 변수에 복사한 뒤 데이터를 수정하면 모든 변수의 데이터가 수정됨
co_arr = li_arr
id(co_arr), id(li_arr)

(2512027496208, 2512027496208)

In [9]:
co_arr[0] = 100

In [10]:
co_arr

array([100,   2,   3,   4])

In [11]:
li_arr

array([100,   2,   3,   4])

In [13]:
# 다차원 배열의 값을 복사해서 새로운 배열을 만들면
# 동일한 값을 가진 새로운 배열이 만들어지기 떄문에 서로 다른 데이터가 됨
new_arr = np.array(li_arr)
id(new_arr), id(li_arr)

(2512022898032, 2512027496208)

In [14]:
new_arr[0] = 99

In [15]:
new_arr

array([99,  2,  3,  4])

In [16]:
li_arr

array([100,   2,   3,   4])

- 파이썬 리스트는 다양한 자료형을 사용할 수 있지만 넘파이 배열은 같은 자료형만 넣을 수 있음
    - 다차원 배열을 생성할 때 자료형을 지정하지 않으면 내부의 원소를 보고 자동으로 추론해서 만듦

In [17]:
# float 자료형을 지정해서 다차원 배열 만들기
fl_arr = np.array(li, dtype = float)
fl_arr

array([1., 2., 3., 4.])

In [18]:
fl_arr.dtype

dtype('float64')

## 2차원 배열이란

- 2개의 축을 가지는 배열(행, 열)
    - 두 개의 1차원 배열이 쌓여서 하나의 2차원 배열이 만들어짐

In [19]:
arr2d = np.array([[1, 2, 3], [4, 5, 6]])

In [21]:
# 각 축의 원소의 개수
arr2d.shape

(2, 3)

In [22]:
# 축의 개수
arr2d.ndim

2

In [27]:
arr2d.dtype

dtype('int32')

In [28]:
# 다차원 배열을 1차원 배열로 조회
arr2d.flatten()

array([1, 2, 3, 4, 5, 6])

In [29]:
# 1차원 배열에서 원소 조회하기
li_arr

array([100,   2,   3,   4])

In [30]:
li_arr[0]

100

In [31]:
# 다차원배열에서 원소 조회하기
list2d = arr2d.tolist() # 배열을 리스트로 변환
list2d

[[1, 2, 3], [4, 5, 6]]

In [33]:
# 리스트는 정수만 이용해서 원소 조회 가능
# 따라서 리스트 내 리스트의 원소를 조회할 때는 인덱스를 두 번 사용해야함
list2d[0][1]

2

In [34]:
list2d[0, 1]

TypeError: list indices must be integers or slices, not tuple

In [35]:
# 다차원 배열은 행과 열의 인덱스를 튜플로 조회할 수 있음
arr2d[0, 1]

2

In [38]:
# 슬라이싱
arr1 = np.array([[0, 1, 2, 3], [4, 5, 6, 7]])

In [39]:
arr1

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [47]:
# 첫 번째 행 전체
arr1[0, :]

array([0, 1, 2, 3])

In [50]:
# 두 번째 열 전체
arr1[:, 1]

array([1, 5])

In [51]:
# 두 번째 행의 두 번째 열부터 끝열까지
arr1[1, 1:]

array([5, 6, 7])

In [53]:
# 각 행의 두 번째 열까지만
arr1[:, :2]

array([[0, 1],
       [4, 5]])

## 파이썬 리스트와 넘파이 배열의 차이

- 넘파이 배열은 배열끼리 연산이 가능하지만 파이썬 리스트는 값의 추가만 가능
- 넘파이 배열은 숫자와의 연산도 가능하지만 파이썬 리스트는 불가능
 
- 사용 용도
    - 파이썬 리스트는 값을 추가하거나 제거하는 일(데이터 관리)에 사용
    - 넘파이 배열은 수치 계산이 많고 복잡하거나 다차원배열이 필요할 때 사용

# 연습문제

1. 아래의 행렬에서 값 7을 인덱싱
2. 아래의 행렬에서 값 14를 인덱싱
3. 아래의 행렬에서 배열 [6, 7]을 슬라이싱
4. 아래의 행렬에서 배열 [7, 12]를 슬라이싱
5. 아래의 행렬에서 배열 [[3, 4], [8, 9]]를 슬라이싱

In [54]:
m = np.array([[0, 1, 2, 3, 4],
             [5, 6, 7, 8, 9],
              [10, 11, 12, 13, 14]])

In [57]:
m[1, 2]

7

In [58]:
m[2, 4]

14

In [59]:
m[1, 1:3]

array([6, 7])

In [61]:
m[1:3, 2]

array([ 7, 12])

In [62]:
m[:2, 3:]

array([[3, 4],
       [8, 9]])

# 전치 연산(transpose)

- 2차원 배열의 행과 열을 바꾸는 연산

In [63]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

In [64]:
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [65]:
arr.shape

(2, 3)

In [66]:
arr.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [72]:
arr.T.shape

(3, 2)

# 배열 크기 변형

In [74]:
arr1 = np.arange(12)
arr1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [75]:
arr2 = arr1.reshape(3, 4)
arr2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

- 사용하는 원소의 수가 정해져 있기 때문에 reshape의 형태 원소 중 하나는 -1로 대체할 수 있음

In [78]:
arr1.reshape(3, -1)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [80]:
arr1.reshape(2, 2, -1)

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [88]:
arr1.reshape(2, -1, 2)

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

# 넘파이 함수의 특징

- 벡터화 연산
    - 벡터와 행렬의 연산은 구성하는 원소별로 처리하는 것이 보통
    - 동일한 인덱스의 원소끼리 계산을 처리하는 것을 벡터화 연산이라고 함
    
- 유니버설 함수(universal funchtion)
    - 벡터화 연산을 지원하는 특별한 함수를 유니버설 함수라고 함

In [89]:
# 일반 파이썬 함수의 타입 확인
def test():
    pass

In [90]:
type(test)

function

In [91]:
# 유니버설 함수 확인
type(np.add)

numpy.ufunc

In [92]:
# 넘파이 모듈에는 유니버설 함수도 있고 일반 함수도 있음
type(np.sort)

function

In [93]:
list2d + list2d

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [94]:
np.add(list2d, list2d)

array([[ 2,  4,  6],
       [ 8, 10, 12]])

## 벡터화 연산

- 벡터화 연산이 필요한 이유
    - data 리스트 내의 각 값에 2를 곱해야 한다면?

In [3]:
# 리스트를 통한 풀이
data = list(range(10))
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
data * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
ans = []

for i in data:
    ans.append(i * 2)
    
ans

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# 넘파이를 통한 풀이
data = np.array(data)
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
data * 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [9]:
(data * 2).tolist()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### 넘파이 벡터화 연산

- 벡터화 연산은 비교 연산과 논리 연산을 포함한 모든 종류의 수학 연산에 대해 적용됨

In [10]:
a = np.array([1, 2, 3])
b = np.array([10, 20, 30])

In [11]:
2 * a

array([2, 4, 6])

In [12]:
2 * a + b

array([12, 24, 36])

In [13]:
a == 2

array([False,  True, False])

In [14]:
b > 10

array([False,  True,  True])

In [15]:
(a == 2) & (b > 10)

array([False,  True, False])

In [16]:
a[a == 2]

array([2])

- 배열끼리의 연산

In [17]:
arr1 = np.arange(6, 10)
arr1

array([6, 7, 8, 9])

In [19]:
arr2 = np.arange(10, 14)
arr2

array([10, 11, 12, 13])

In [21]:
# 두 개의 다차원 배열을 곱하면 동일한 인덱스의 원소끼리 곱셈한 결과인 1차원 배열이 반환
arr1 * arr2

array([ 60,  77,  96, 117])

In [22]:
# arr1에 차원 추가(수직축 추가)
new_arr1 = arr1[:, np.newaxis]
new_arr1

array([[6],
       [7],
       [8],
       [9]])

In [23]:
new_arr1.shape

(4, 1)

In [24]:
# arr2에 차원 추가(수평축 추가)
new_arr2 = arr2[np.newaxis, :]
new_arr2

array([[10, 11, 12, 13]])

In [25]:
new_arr2.shape

(1, 4)

In [26]:
# 행렬곱 연산
new_arr1 * new_arr2

array([[ 60,  66,  72,  78],
       [ 70,  77,  84,  91],
       [ 80,  88,  96, 104],
       [ 90,  99, 108, 117]])

## 브로드캐스팅(broadcasting)

- 배열끼리 연산을 하기 위해서는 두 배열의 크기가 같아야 함
- 서로 다른 크기를 가진 배열의 사칙 연산을 하는 경우 넘파이에서는 크기가 작은 배열을 자동으로 반복 확장하여 크기가 큰 배열에 맞춤

In [27]:
new_arr1 + new_arr2

array([[16, 17, 18, 19],
       [17, 18, 19, 20],
       [18, 19, 20, 21],
       [19, 20, 21, 22]])

# 연습문제

1. 아래의 배열에서 3의 배수를 찾기
2. 아래의 배열에서 4로 나누면 1이 남는 수 찾기
3. 아래의 배열에서 3을 나누면 나누어지고 4로 나누면 1이 남는 수 찾기

In [37]:
x = np.arange(1,21)

In [38]:
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [44]:
x[x % 3 == 0]

array([ 3,  6,  9, 12, 15, 18])

In [45]:
x[x % 4 == 1]

array([ 1,  5,  9, 13, 17])

In [46]:
x[(x % 3 == 0) & (x % 4 == 1)]

array([9])

## 축에 따른 연산

- 동일한 축에 있는 원소들을 계산하기 위해 필요함

### 1차원 배열

In [47]:
arr1 = np.array([1, 2, 3, 4])
arr1

array([1, 2, 3, 4])

In [49]:
# 합계
print(np.sum(arr1))
print(arr1.sum())

10
10

In [50]:
# 최댓값
arr1.max()

4

In [51]:
# 최솟값
arr1.min()

1

In [53]:
# 최솟값의 위치
arr1.argmin()

0

In [54]:
# 최댓값의 위치
arr1.argmax()

3

In [55]:
# 평균
arr1.mean()

2.5

In [56]:
# 중앙값
np.median(arr1)

2.5

### 2차원 배열

In [58]:
arr2 = arr1.reshape(2, 2)
arr2

array([[1, 2],
       [3, 4]])

In [62]:
# 모든 원소를 더한 합
np.sum(arr2)

10

In [63]:
# 수직 방향으로 같은 열에 속한 원소만 합산
np.sum(arr2, axis = 0)

array([4, 6])

In [64]:
# 수평 방향으로 같은 행에 속한 원소만 합산
np.sum(arr2, axis = 1)

array([3, 7])

In [65]:
arr2.shape

(2, 2)

In [70]:
arr3 = np.arange(1,28).reshape(3, 3, 3)

In [71]:
arr3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]]])

In [93]:
np.sum(arr3, axis = 2)

array([[ 6, 15, 24],
       [33, 42, 51],
       [60, 69, 78]])

In [96]:
arr4 = np.arange(1, 17).reshape(2, 2, 2, 2)

In [97]:
arr4

array([[[[ 1,  2],
         [ 3,  4]],

        [[ 5,  6],
         [ 7,  8]]],


       [[[ 9, 10],
         [11, 12]],

        [[13, 14],
         [15, 16]]]])

In [104]:
np.sum(arr4, axis = 2)

array([[[ 4,  6],
        [12, 14]],

       [[20, 22],
        [28, 30]]])

In [101]:
x = np.random.randint(0, 10, (2, 3))
x

array([[0, 7, 9],
       [4, 5, 4]])

In [105]:
np.sum(x, axis = 0)

array([ 4, 12, 13])

In [106]:
np.sum(x, axis = 1)

array([16, 13])

### 3차원 배열

In [107]:
arr3 = np.arange(1, 9)
arr3

array([1, 2, 3, 4, 5, 6, 7, 8])

In [108]:
arr4 = arr3.reshape(2, 2, 2)
arr4

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [112]:
# 모든 원소를 더한 합
np.sum(arr4)

36

In [114]:
# 두 개의 행렬의 동일한 인덱스의 원소를 합한 값
np.sum(arr4, axis = 0)

array([[ 6,  8],
       [10, 12]])

In [115]:
# 각 2차원 배열의 0번축의 합
np.sum(arr4, axis = 1)

array([[ 4,  6],
       [12, 14]])

In [116]:
# 각 2차원 배열의 1번축의 합
np.sum(arr4, axis = 2)

array([[ 3,  7],
       [11, 15]])

In [158]:
x = np.random.randint(1, 10, (2, 3, 4))
x

array([[[3, 8, 1, 9],
        [5, 8, 9, 3],
        [1, 2, 1, 7]],

       [[3, 9, 3, 2],
        [9, 9, 6, 9],
        [3, 5, 7, 5]]])

In [159]:
np.sum(x, axis = (0, 1))

array([24, 41, 27, 35])

In [162]:
np.sum(x, axis = (0, 2))

array([38, 58, 31])

In [163]:
np.sum(x, axis = (1, 2))

array([57, 70])

# 연습문제

- 실수로 이루어진 5x6 형태의 데이터 행렬을 만들고 다음 값을 구한다
1. 전체의 최댓값
2. 각 행의 합
3. 각 행의 최댓값
4. 각 열의 평균
5. 각 열의 최솟값

In [164]:
y = np.random.random((5, 6))
y

array([[0.21222394, 0.65925636, 0.37020873, 0.13329411, 0.83501939,
        0.78307139],
       [0.15489473, 0.23649054, 0.82057677, 0.29982582, 0.92414609,
        0.27294568],
       [0.62447241, 0.91052486, 0.89850249, 0.05135415, 0.72122189,
        0.65324259],
       [0.1346241 , 0.78172714, 0.5098933 , 0.87070348, 0.01983614,
        0.28926589],
       [0.81735746, 0.88124175, 0.13529273, 0.52222748, 0.54279623,
        0.80564143]])

In [165]:
y.max()

0.9241460919476422

In [170]:
np.sum(y, axis = 1)

array([2.99307392, 2.70887963, 3.85931838, 2.60605005, 3.70455708])

In [171]:
np.max(y, axis = 1)

array([0.83501939, 0.92414609, 0.91052486, 0.87070348, 0.88124175])

In [173]:
np.mean(y, axis = 0)

array([0.38871453, 0.69384813, 0.5468948 , 0.37548101, 0.60860395,
       0.5608334 ])

In [172]:
np.min(y, axis = 0)

array([0.1346241 , 0.23649054, 0.13529273, 0.05135415, 0.01983614,
       0.27294568])