In [13]:
import cx_Oracle as cx
from sqlalchemy import create_engine
from pandas import DataFrame, read_sql_table
import datetime

In [14]:
dbcon = cx.connect("hr",    # 사용자 이름
                   "hr",    # 비밀번호
                   "localhost:1521/xe")  # 데이터베이스 서버 주소

dbcon

In [15]:
cursor = dbcon.cursor()

In [16]:
sql = "select * from student where weight > 70"

cursor.execute(sql)
cursor.rowfactory = lambda *args: dict(zip([d[0] for d in cursor.description], args))
result = cursor.fetchall()

In [17]:
result

[{'STUDNO': 10101,
  'NAME': '전인하',
  'USERID': 'jun123',
  'GRADE': 4,
  'IDNUM': '7907021369824',
  'BIRTHDATE': datetime.datetime(1979, 7, 2, 0, 0),
  'TEL': '051)781-2158',
  'HEIGHT': 176,
  'WEIGHT': 72,
  'DEPTNO': 101,
  'PROFNO': 9903},
 {'STUDNO': 10103,
  'NAME': '김영균',
  'USERID': 'mandu',
  'GRADE': 3,
  'IDNUM': '8103211063421',
  'BIRTHDATE': datetime.datetime(1981, 3, 21, 0, 0),
  'TEL': '051)824-9637',
  'HEIGHT': 170,
  'WEIGHT': 88,
  'DEPTNO': 101,
  'PROFNO': 9906},
 {'STUDNO': 10106,
  'NAME': '서재진',
  'USERID': 'seolly',
  'GRADE': 1,
  'IDNUM': '8511291186273',
  'BIRTHDATE': datetime.datetime(1985, 11, 29, 0, 0),
  'TEL': '051)239-4861',
  'HEIGHT': 186,
  'WEIGHT': 72,
  'DEPTNO': 101,
  'PROFNO': None},
 {'STUDNO': 10107,
  'NAME': '이광훈',
  'USERID': 'huriky',
  'GRADE': 4,
  'IDNUM': '8109131276431',
  'BIRTHDATE': datetime.datetime(1981, 9, 13, 0, 0),
  'TEL': '055)736-4981',
  'HEIGHT': 175,
  'WEIGHT': 92,
  'DEPTNO': 101,
  'PROFNO': 9903},
 {'STUDNO': 10108,
  'NAME': '류민정',
  'USERID': 'cleansky',
  'GRADE': 2,
  'IDNUM': '8108192157498',
  'BIRTHDATE': datetime.datetime(1981, 8, 19, 0, 0),
  'TEL': '055)248-3679',
  'HEIGHT': 162,
  'WEIGHT': 72,
  'DEPTNO': 101,
  'PROFNO': 9907},
 {'STUDNO': 10202,
  'NAME': '오유석',
  'USERID': 'yousuk',
  'GRADE': 4,
  'IDNUM': '7709121128379',
  'BIRTHDATE': datetime.datetime(1977, 9, 12, 0, 0),
  'TEL': '051)724-9618',
  'HEIGHT': 177,
  'WEIGHT': 92,
  'DEPTNO': 102,
  'PROFNO': 9905}]

In [24]:
df = DataFrame(result)

In [19]:
cursor.close()

In [20]:
dbcon.close()

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STUDNO     6 non-null      int64
 1   NAME       6 non-null      object
 2   USERID     6 non-null      object
 3   GRADE      6 non-null      int64
 4   IDNUM      6 non-null      object
 5   BIRTHDATE  6 non-null      datetime64[ns]
 6   TEL        6 non-null      object
 7   HEIGHT     6 non-null      int64
 8   WEIGHT     6 non-null      int64
 9   DEPTNO     6 non-null      int64
 10  PROFNO     5 non-null      float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(4)
memory usage: 660.0+ bytes