In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## 원본데이터 가공

- 원본데이터 로드

In [2]:
df = pd.read_csv("./data/경주정보_origin.csv")

C:\Users\yjg10\AppData\Local\Temp\ipykernel_19904\3958561580.py:1: DtypeWarning: Columns (48,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/경주정보_origin.csv")

In [3]:
df.columns

Index(['age', 'ageCond', 'birthday', 'buG1fAccTime', 'buG1fOrd',
       'buG2fAccTime', 'buG2fOrd', 'buG3fAccTime', 'buG3fOrd', 'buG4fAccTime',
       'buG4fOrd', 'buG6fAccTime', 'buG6fOrd', 'buG8fAccTime', 'buG8fOrd',
       'buS1fAccTime', 'buS1fOrd', 'buS1fTime', 'bu_10_8fTime', 'bu_1fGTime',
       'bu_2fGTime', 'bu_3fGTime', 'bu_4_2fTime', 'bu_6_4fTime', 'bu_8_6fTime',
       'budam', 'buga1', 'buga2', 'buga3', 'chaksun1', 'chaksun2', 'chaksun3',
       'chaksun4', 'chaksun5', 'chulNo', 'diffUnit', 'hrName', 'hrNo',
       'hrTool', 'ilsu', 'jeG1fTime', 'jeG3fTime', 'jeS1fTime', 'je_1cTime',
       'je_2cTime', 'je_3cTime', 'je_4cTime', 'jkName', 'jkNo', 'meet', 'name',
       'ord', 'ordBigo', 'owName', 'owNo', 'plcOdds', 'prizeCond', 'rank',
       'rankRise', 'rating', 'rcDate', 'rcDay', 'rcDist', 'rcName', 'rcNo',
       'rcTime', 'seG1fAccTime', 'seG3fAccTime', 'seS1fAccTime',
       'se_1cAccTime', 'se_2cAccTime', 'se_3cAccTime', 'se_4cAccTime', 'sex',
       'sjG1fOrd', 'sjG3fOrd', 'sjS1fOrd', 'sj_1cOrd', 'sj_2cOrd', 'sj_3cOrd',
       'sj_4cOrd', 'trName', 'trNo', 'track', 'weather', 'wgBudam',
       'wgBudamBigo', 'wgHr', 'wgJk', 'winOdds'],
      dtype='object')

In [4]:
df.head()

,age,ageCond,birthday,buG1fAccTime,buG1fOrd,buG2fAccTime,buG2fOrd,buG3fAccTime,buG3fOrd,buG4fAccTime,...,sj_4cOrd,trName,trNo,track,weather,wgBudam,wgBudamBigo,wgHr,wgJk,winOdds
0,3,3세,20200416,67.5,1,55.1,2,42.8,4,30.4,...,0,조용배,70137,건조 (2%),맑음,56.0,-,496(-8),0,2.4
1,3,3세,20200210,67.7,3,55.0,1,42.7,2,30.1,...,0,권승주,70086,건조 (2%),맑음,52.0,-,461(-5),-4,26.9
2,3,3세,20200324,67.6,2,55.1,4,42.7,3,30.1,...,0,임금만,70128,건조 (2%),맑음,56.0,-,493(+6),0,4.3
3,3,3세,20200327,68.3,4,55.7,6,42.9,5,30.4,...,0,권승주,70086,건조 (2%),맑음,56.0,-,501(-7),0,48.2
4,3,3세,20200108,68.4,6,55.8,7,43.2,9,30.8,...,0,민장기,70136,건조 (2%),맑음,56.0,-,489(+5),0,5.1

- 필요컬럼만 추출

In [5]:
cols = ['age', 'ageCond', 'birthday', 'budam', 'track', 'weather', 'hrName', 'hrNo', 'hrTool', 'ord', 'ordBigo','meet', 'plcOdds', 'rank',
        'rating', 'rcDate', 'rcNo', 'rcTime', 'rcDist','sex', 'wgBudam', 'wgHr', 'wgJk']

In [6]:
df2 = df[cols].copy()

In [7]:
df2.head()

,age,ageCond,birthday,budam,track,weather,hrName,hrNo,hrTool,ord,...,rank,rating,rcDate,rcNo,rcTime,rcDist,sex,wgBudam,wgHr,wgJk
0,3,3세,20200416,별정A,건조 (2%),맑음,패스트건,46029,"계란형큰,망사+,눈가면-",1,...,국6등급,0,20230129,1,81.3,1300.0,거,56.0,496(-8),0
1,3,3세,20200210,별정A,건조 (2%),맑음,다이아보스,45215,"Triabit ,망사",2,...,국6등급,0,20230129,1,81.5,1300.0,수,52.0,461(-5),-4
2,3,3세,20200324,별정A,건조 (2%),맑음,황우머니,45403,"계란형큰,망사,승인편자+",3,...,국6등급,0,20230129,1,81.5,1300.0,수,56.0,493(+6),0
3,3,3세,20200327,별정A,건조 (2%),맑음,케이골드바,45845,"Triabit ,망사",4,...,국6등급,0,20230129,1,82.1,1300.0,수,56.0,501(-7),0
4,3,3세,20200108,별정A,건조 (2%),맑음,캡틴코만도,45167,"계란형큰,망사눈",5,...,국6등급,0,20230129,1,82.3,1300.0,거,56.0,489(+5),0

In [8]:
df2.shape

(122769, 23)

- 무효경기 및 실격 제외

In [9]:
df2.query("ord <= 16", inplace = True)

In [10]:
df2.shape

(119892, 23)

- hrSpd 파생변수 생성

In [11]:
df2['hrSpd'] = df2['rcDist'] / df2['rcTime']

- 날짜데이터 날짜타입으로 변경

In [12]:
df2['birthday'] = df2['birthday'].apply(lambda x : pd.to_datetime(str(x)))
df2['rcDate'] = df2['rcDate'].apply(lambda x : pd.to_datetime(str(x)))

- 일단위 나이 계산

In [13]:
df2['age_day'] = (df2['rcDate'] - df2['birthday']).apply(lambda x : x.days)

- wgHr int타입으로 변경

In [14]:
df2['wgHr'] = df2['wgHr'].apply(lambda x : int(x[:x.find("(")]))

- 트랙상태 카테고리 단순화

In [15]:
df2['trackCat'] = df2['track'].apply(lambda x : x[:2])

In [16]:
df2.shape

(119892, 26)

## 추가데이터 합산

- 마필훈련정보 : 훈련일로부터 2주까지의 경기기록에 훈련횟수 합산

In [2]:
df_tr = pd.read_csv("./data/마필훈련정보_origin.csv")

In [3]:
df_tr['trDate'] = df_tr['trDate'].apply(lambda x : pd.to_datetime(str(x)))
df_tr['dateEnd'] = df_tr['trDate'] + dt.timedelta(days = 14)

In [4]:
df_tr.head()

,chulGubun,hrName,hrNo,meet,part,partNo,prGubun,prNo,run1Cnt,run2Cnt,spTime,stTime,trDate,trName,trTerm,dateEnd
0,금주출전예정,라온더타이거,42251,서울,1,23,-,-,0,1,20230130071900,20230130070800,2023-01-30,박종곤,660.0,2023-02-13
1,금주출전예정,라온더펄,44204,서울,1,26,기수,080473,0,1,20230130071800,20230130070800,2023-01-30,박종곤,600.0,2023-02-13
2,금주출전예정,라온더플래터,45172,서울,1,16,-,-,2,0,20230130073500,20230130072400,2023-01-30,박종곤,660.0,2023-02-13
3,차주출전예정,라온더하이맨,45197,서울,1,20,-,-,1,0,20230130083400,20230130082000,2023-01-30,박종곤,840.0,2023-02-13
4,차주출전예정,라온샹젤리,42250,서울,1,36,-,-,1,0,20230130081100,20230130075600,2023-01-30,박종곤,900.0,2023-02-13

In [19]:
df2.loc[:, 'tr1'] = 0
df2.loc[:, 'tr2'] = 0

for i in df2.index:
    hrno = df2.loc[i, 'hrNo']
    rcdate = df2.loc[i, 'rcDate']
    tmp_df = df_tr[df_tr['hrNo'] == hrno]
    tmp_df = tmp_df.query("trDate <= @rcdate and dateEnd >= @rcdate")
    for j in tmp_df.index:
        df2.loc[i, 'tr1'] += tmp_df.loc[j, 'run1Cnt']
        df2.loc[i, 'tr2'] += tmp_df.loc[j, 'run2Cnt']

In [20]:
df2.shape

(119892, 28)

- 경주마정보
  - 최근 1년 / 통산 1~3착 횟수 원본 데이터에 합산

In [21]:
df_hr = pd.read_csv("./data/경주마정보_origin.csv")

In [22]:
df_hr['topCntY'] = df_hr['ord1CntY'] + df_hr['ord2CntY'] + df_hr['ord3CntY']
df_hr['topCntT'] = df_hr['ord1CntT'] + df_hr['ord2CntT'] + df_hr['ord3CntT']

In [23]:
df2.shape

(119892, 28)

In [24]:
df2 = pd.merge(left = df2, right = df_hr[['hrNo', 'topCntY', 'topCntT']], how = 'inner', on = 'hrNo')

In [25]:
df2.shape

(119892, 30)

- 마필진료정보 : 경기 전후 1주일간 받은 질병횟수 기록

In [26]:
df_clinic = pd.read_csv("./data/마필진료정보_origin.csv")

In [27]:
df_clinic['date'] = df_clinic['clinicDate'].astype('str').astype('datetime64')

df_clinic['min_date'] = df_clinic['date'] - dt.timedelta(days = 7)
df_clinic['max_date'] = df_clinic['date'] + dt.timedelta(days = 7)
df_clinic['illcount'] = df_clinic['illName1'].apply(lambda x : 1 if x != "-" else 0) + df_clinic['illName2'].apply(lambda x : 1 if x != "-" else 0)

In [28]:
df_clinic2 = df_clinic[['min_date', 'max_date', 'illcount', 'hrNo']]

In [29]:
df2['ills'] = 0

for i in df2.index:
    tmp = df_clinic2[df_clinic2['hrNo'] == df2['hrNo'][i]]
    m1 = df2['rcDate'][i]
    tmp2 = tmp.query('max_date >= @m1 and min_date <= @m1')
    if len(tmp2) > 0:
        for j in tmp2.index:
            df2.loc[i, 'ills'] += tmp2['illcount'][j]

In [30]:
df2.head()

,age,ageCond,birthday,budam,track,weather,hrName,hrNo,hrTool,ord,...,wgHr,wgJk,hrSpd,age_day,trackCat,tr1,tr2,topCntY,topCntT,ills
0,3,3세,2020-04-16,별정A,건조 (2%),맑음,패스트건,46029,"계란형큰,망사+,눈가면-",1,...,496,0,15.990160,1018,건조,8,2,4,5,7
1,3,연령오픈,2020-04-16,핸디캡,건조 (3%),비,패스트건,46029,"계란형큰,망사",2,...,495,0,16.203704,1060,건조,9,2,4,5,6
2,3,연령오픈,2020-04-16,핸디캡,건조 (4%),흐림,패스트건,46029,"계란형큰,망사",3,...,487,0,15.911873,1093,건조,11,1,4,5,5
3,3,연령오픈,2020-04-16,핸디캡,양호 (8%),맑음,패스트건,46029,"계란형큰,망사",1,...,497,0,16.018307,1130,양호,10,1,4,5,19
4,3,연령오픈,2020-04-16,핸디캡,다습 (10%),맑음,패스트건,46029,"계란형큰,망사",9,...,497,0,15.355086,1163,다습,9,1,4,5,12

In [32]:
df2.isnull().sum().sort_values(ascending=False)

ageCond     67
weather     33
age          0
rcTime       0
topCntT      0
topCntY      0
tr2          0
tr1          0
trackCat     0
age_day      0
hrSpd        0
wgJk         0
wgHr         0
wgBudam      0
sex          0
rcDist       0
rcDate       0
rcNo         0
rating       0
rank         0
plcOdds      0
meet         0
ordBigo      0
ord          0
hrTool       0
hrNo         0
hrName       0
track        0
budam        0
birthday     0
ills         0
dtype: int64

- 결측치 처리

- ageCond : age 컬럼을 참조하여 적합한 ageCond 카테고리로 배정

In [26]:
for i in df2[df2['ageCond'].isnull()].index:
    if df2.loc[i, 'age'] == 2:
        df2.loc[i, 'ageCond'] = '2세'
    else:
        df2.loc[i, 'ageCond'] = '3세'

- weather : 근처값 대체 (ffill)
  - 시계열 데이터가 시간 기준으로 정렬되어 있는지 확인한 후 사용

In [27]:
df2['weather'] = df2['weather'].fillna(method = 'ffill')

- 저장

In [ ]:
df2.to_csv("./data/Data_Refined.csv", index = False)

In [ ]:
df_t = pd.read_csv("./data/Data_Refined.csv", parse_dates = ['birthday', 'rcDate'])

In [ ]:
df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119892 entries, 0 to 119891
Data columns (total 31 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   age       119892 non-null  int64
 1   ageCond   119892 non-null  object
 2   birthday  119892 non-null  datetime64[ns]
 3   budam     119892 non-null  object
 4   track     119892 non-null  object
 5   weather   119892 non-null  object
 6   hrName    119892 non-null  object
 7   hrNo      119892 non-null  int64
 8   hrTool    119892 non-null  object
 9   ord       119892 non-null  int64
 10  ordBigo   119892 non-null  object
 11  meet      119892 non-null  object
 12  plcOdds   119892 non-null  float64
 13  rank      119892 non-null  object
 14  rating    119892 non-null  int64
 15  rcDate    119892 non-null  datetime64[ns]
 16  rcNo      119892 non-null  int64
 17  rcTime    119892 non-null  float64
 18  rcDist    119892 non-null  float64
 19  sex       119892 non-null  object
 20  wgBudam   119892 non-null  float64
 21  wgHr      119892 non-null  int64
 22  wgJk      119892 non-null  int64
 23  hrSpd     119892 non-null  float64
 24  age_day   119892 non-null  int64
 25  trackCat  119892 non-null  object
 26  tr1       119892 non-null  int64
 27  tr2       119892 non-null  int64
 28  topCntY   119892 non-null  int64
 29  topCntT   119892 non-null  int64
 30  ills      119892 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(13), object(11)
memory usage: 28.4+ MB

- 논문 검증용 데이터 1 : 부모 상금

In [29]:
df_pa = pd.read_excel("./data/부모상금정보.xlsx")

In [31]:
df_pa['paPrize'] = df_pa['paPrize'] / 10000
df_pa['paPrize']

0         28699.2
1        310619.0
2         26205.6
3        242680.5
4           867.0
           ...
10185     21554.0
10186      1093.4
10187      5899.2
10188     19827.3
10189     13370.0
Name: paPrize, Length: 10190, dtype: float64

In [30]:
df_pa['moPrize'] = df_pa['moPrize'] / 10000
df_pa['moPrize']

0        21049.0
1            0.0
2         4232.8
3            0.0
4          341.4
          ...
10185    21554.0
10186     1093.4
10187     5899.2
10188    19827.3
10189    13370.0
Name: moPrize, Length: 10190, dtype: float64

In [32]:
df_pa_merge = pd.merge(df2, df_pa[['hrNo', 'moPrize']], how = 'inner', on = 'hrNo')

In [33]:
df_pa_merge.head()

,age,ageCond,birthday,budam,track,weather,hrName,hrNo,hrTool,ord,...,wgHr,wgJk,hrSpd,age_day,trackCat,tr1,tr2,topCntY,topCntT,moPrize
0,3,3세,2020-02-10,별정A,건조 (2%),맑음,다이아보스,45215,"Triabit ,망사",2,...,461,-4,15.950920,1084,건조,14,1,3,3,0.0
1,3,3세,2020-02-10,별정A,건조 (2%),맑음,다이아보스,45215,"Triabit ,망사",1,...,463,-1,15.757576,1117,건조,11,3,3,3,0.0
2,3,연령오픈,2020-02-10,핸디캡,건조 (3%),맑음,다이아보스,45215,"Triabit ,망사",2,...,465,-1,15.801354,1147,건조,11,3,3,3,0.0
3,2,2세,2020-02-10,별정A,건조 (2%),맑음,다이아보스,45215,"Triabit +,망사+",6,...,465,0,15.723270,986,건조,13,3,3,3,0.0
4,2,2세,2020-02-10,별정A,건조 (5%),흐림,다이아보스,45215,"Triabit ,망사",5,...,467,0,15.665796,1014,건조,16,1,3,3,0.0

In [34]:
df_pa_merge.to_csv("./data/논문검증용1_2.csv", index = False)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119892 entries, 0 to 119891
Data columns (total 31 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   age       119892 non-null  int64
 1   ageCond   119892 non-null  object
 2   birthday  119892 non-null  datetime64[ns]
 3   budam     119892 non-null  object
 4   track     119892 non-null  object
 5   weather   119892 non-null  object
 6   hrName    119892 non-null  object
 7   hrNo      119892 non-null  int64
 8   hrTool    119892 non-null  object
 9   ord       119892 non-null  int64
 10  ordBigo   119892 non-null  object
 11  meet      119892 non-null  object
 12  plcOdds   119892 non-null  float64
 13  rank      119892 non-null  object
 14  rating    119892 non-null  int64
 15  rcDate    119892 non-null  datetime64[ns]
 16  rcNo      119892 non-null  int64
 17  rcTime    119892 non-null  float64
 18  rcDist    119892 non-null  float64
 19  sex       119892 non-null  object
 20  wgBudam   119892 non-null  float64
 21  wgHr      119892 non-null  int64
 22  wgJk      119892 non-null  int64
 23  hrSpd     119892 non-null  float64
 24  age_day   119892 non-null  int64
 25  trackCat  119892 non-null  object
 26  tr1       119892 non-null  int64
 27  tr2       119892 non-null  int64
 28  topCntY   119892 non-null  int64
 29  topCntT   119892 non-null  int64
 30  ills      119892 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(13), object(11)
memory usage: 33.3+ MB