In [1]:
import sys
import os
work_path = os.path.abspath(os.path.join(os.getcwd(), "../.."))
sys.path.append(work_path)

from my_helper.regression import *
from my_helper.util import *
from my_helper.plot import *
from my_helper.analysis import *
from my_helper.classification import *
from yjk_module.preprocessing import *
from yjk_module.ml_module import *

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split, learning_curve, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score, log_loss, confusion_matrix, ConfusionMatrixDisplay, precision_score, recall_score, f1_score, roc_curve, precision_recall_curve
from statsmodels.formula.api import logit
from statsmodels.api import Logit, add_constant

In [2]:
origin = pd.read_excel("./data/titanic.xlsx")
df = origin.copy()

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   int64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 122.8+ KB

In [5]:
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis = 1, inplace = True)

In [6]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         263
SibSp         0
Parch         0
Fare          1
Embarked      2
dtype: int64

In [7]:
df.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [8]:
df.dropna(subset = ['Fare', 'Embarked'], inplace = True)

In [9]:
cols = ['Pclass', 'Parch', 'SibSp']

for i in cols:
    df[i] = df[i].astype('category')

In [10]:
pp = YjkPreprocessor()
pp.set_strategy(outline = None, null = 'median')

아래와 같이 처리합니다.
+-------------+---------------+
| 범주        | 처리방법      |
|-------------+---------------|
| 이상치 처리 | 처리하지 않음 |
| 결측치 처리 | 중앙값 대체   |
| 스케일러    | 표준화        |
| 인코딩      | 원핫인코딩    |
+-------------+---------------+

In [11]:
df_p = pp.fit_transform(df, yname = 'Survived')

데이터프레임 크기 : (1306, 8)

[열별 결측치 개수]
+--------+-------------+
| 열명   |   결측치 수 |
|--------+-------------|
| Age    |         263 |
+--------+-------------+

연속형 데이터 컬럼 : ['Age', 'Fare'], 총 2개
명목형 데이터 컬럼 : ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], 총 5개
종속변수 컬럼명 : Survived

In [12]:
x_train, x_test, y_train, y_test = my_train_test_split(data = df_p, yname = 'Survived', test_size = 0.2, random_state = 0)

In [13]:
lr = LogisticRegression(penalty = 'l2', C = 1)

In [14]:
lr.fit(x_train, y_train)

LogisticRegression(C=1)

In [15]:
lr.score(x_train, y_train), lr.score(x_test, y_test)

(0.8639846743295019, 0.8549618320610687)

In [16]:
roc_auc_score(y_test, lr.predict_proba(x_test)[:, 1])

0.9199142156862744

In [26]:
df2 = origin.copy()

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     1309 non-null   int64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 122.8+ KB

In [28]:
df2.drop(['Name', 'Ticket', 'Cabin'], axis = 1, inplace = True)
df2.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [34]:
df2['Age'] = my_replace_missing_value(df2[['Age']])

In [36]:
df2.dropna(inplace = True)

In [39]:
pp2 = YjkPreprocessor()
pp2.set_strategy(outline = None, null = None)

아래와 같이 처리합니다.
+-------------+---------------+
| 범주        | 처리방법      |
|-------------+---------------|
| 이상치 처리 | 처리하지 않음 |
| 결측치 처리 | 처리하지 않음 |
| 스케일러    | 표준화        |
| 인코딩      | 원핫인코딩    |
+-------------+---------------+

In [46]:
cols = ['Pclass']
for i in cols:
    df2[i] = df2[i].astype('category')

df2.drop('PassengerId', axis = 1, inplace = True)

In [47]:
df2_p = pp2.fit_transform(df2, yname = 'Survived')

데이터프레임 크기 : (1306, 8)
데이터프레임에 결측치는 없습니다.
연속형 데이터 컬럼 : ['Age', 'SibSp', 'Parch', 'Fare'], 총 4개
명목형 데이터 컬럼 : ['Pclass', 'Sex', 'Embarked'], 총 3개
종속변수 컬럼명 : Survived