In [2]:
import pandas as pd
import requests
import json
import time

In [20]:
url = 'https://apis.data.go.kr/1741000/stdgSexdAgePpltn/selectStdgSexdAgePpltn?serviceKey=XBGF4fVTIQnCnyrblkIxOvc11aT9HMCuRFLJvlZPqfNLO5JNTFIl7LEhugoAjRQ80hws4B5I9bePSVHSLPNhkQ%3D%3D&stdgCd={0}&srchFrYm=202312&srchToYm=202312&lv=2&regSeCd=1&type=JSON&numOfRows=100&pageNo={1}'

In [1]:
area = ['1100000000', '2600000000', '2700000000', '2800000000', '2900000000', '3000000000', '3100000000', '3600000000', '4100000000', '4300000000', '4400000000', '4600000000', '4700000000', '4800000000', '5000000000', '5100000000', '5200000000'
]

In [30]:
df = pd.DataFrame()

for i in area:
        pageno = 1
        while True:
            tmp = requests.get(url.format(i, pageno))
            pageno += 1
            tmp2 = json.loads(tmp.text)
            try:
                tmp3 = tmp2['Response']['items']['item']
                df = pd.concat([df, pd.DataFrame(tmp3)], axis = 0)
                time.sleep(1)
            except:
                break

In [34]:
df.reset_index(drop = True, inplace = True)

In [35]:
df.to_csv("./self/pop.csv", index = False)

In [36]:
df.head()

,tong,male50AgeNmprCnt,feml40AgeNmprCnt,male80AgeNmprCnt,male20AgeNmprCnt,stdgNm,ban,totNmprCnt,feml0AgeNmprCnt,male40AgeNmprCnt,...,male0AgeNmprCnt,feml80AgeNmprCnt,male100AgeNmprCnt,maleNmprCnt,sggNm,male60AgeNmprCnt,male70AgeNmprCnt,feml70AgeNmprCnt,admmCd,statsYm
0,,11854,9903,2674,10174,,,139417,2930,9291,...,2989,3970,9,67306,종로구,10365,5211,6292,,202312
1,,9529,8225,2101,7979,,,121312,2751,8544,...,2879,3460,5,58659,중구,9137,4735,5756,,202312
2,,16765,15818,3409,13849,,,213151,5429,15470,...,5660,5496,12,102312,용산구,14294,6880,8742,,202312
3,,21870,20401,3976,19821,,,277361,8203,20525,...,8690,6341,14,134519,성동구,18883,9126,11281,,202312
4,,25844,24530,4442,27297,,,335554,7420,23573,...,7788,6486,13,161277,광진구,21765,10740,12831,,202312

In [49]:
df['totNmprCnt'].astype('int')

0      139417
1      121312
2      213151
3      277361
4      335554
        ...
239     23007
240     21056
241     32020
242     27305
243     27710
Name: totNmprCnt, Length: 244, dtype: int32

In [50]:
df['stdgCd']

0      1111000000
1      1114000000
2      1117000000
3      1120000000
4      1121500000
          ...
239    5179000000
240    5180000000
241    5181000000
242    5182000000
243    5183000000
Name: stdgCd, Length: 244, dtype: object

In [56]:
df2 = df[['totNmprCnt', 'stdgCd']].copy()

In [57]:
df2['trans'] = df2['stdgCd'].apply(lambda x : x[:5])

In [59]:
df2.to_csv("./self/pop_2.csv", index = False)