# Keras - 모델 불러오기 : Fish

In [9]:
# 패키지 불러오기
import sys, warnings
# sys.path.append("Y:\Python\Mega_IT")
warnings.filterwarnings('ignore')

# from yjk_module.preprocessing import *
# from yjk_module.ml_module import *
# from yjk_module.dl_module import *

import os
# os.chdir("Y:\Python\Mega_IT\H.Deep_Learning")
# os.getcwd()

# from hossam.util import *
# from hossam.plot import *
# from hossam.tensor import *
import joblib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error

from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop, Adam
from keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau

- 학습한 Keras 모델을 save하고 학습 데이터가 추가되면 이를 load하여 추가적으로 fit하여 모델 성능을 개선할 수 있음

In [2]:
# 학습한 모델 불러오기
model = keras.models.load_model("./models/Best_Fish.h5")

2024-04-24 17:36:55.714478: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1929] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 22433 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3090, pci bus id: 0000:08:00.0, compute capability: 8.6

In [3]:
# 모델 정보 확인
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                256

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2369 (9.25 KB)
Trainable params: 2369 (9.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [4]:
# 데이터 불러오기
origin = pd.read_excel("./data/fish.xlsx")
origin.head()

     길이    높이    두께    무게
0   8.4  2.11  1.41   5.9
1  13.7  3.53  2.00  32.0
2  15.0  3.82  2.43  40.0
3  16.2  4.59  2.63  51.5
4  17.4  4.59  2.94  70.0

In [6]:
# 데이터 전처리
# pp = YjkPreprocessor()
# pp.set_strategy(outline = None, null = None, scaler = 's')
# df = pp.fit_transform(origin, yname = '무게')

df = origin.copy()
Y = df.pop('무게')

ss = StandardScaler()
df = pd.DataFrame(ss.fit_transform(df), columns = df.columns)
df.head()

         길이        높이        두께
0 -2.180225 -2.016507 -1.896175
1 -1.587434 -1.518703 -1.560774
2 -1.442032 -1.417039 -1.316328
3 -1.307815 -1.147103 -1.202633
4 -1.173599 -1.147103 -1.026405

In [7]:
# 데이터를 이용한 예측
pred = model.predict(df)

2/2 [==============================] - 0s 2ms/step

In [10]:
# 예측 결과 확인
mean_absolute_error(Y, pred), r2_score(Y, pred)

(60.92032639639718, 0.9503390358138861)