In [1]:
a = 5

In [5]:
a

5

In [2]:
print(type(a))

<class 'int'>

In [6]:
c = str(a)

In [7]:
c

'5'

In [9]:
print(type(c))

<class 'str'>

In [15]:
str_input = input("숫자 입력> ")
num_input = float(str_input)

print()
print(num_input, "inch")
print((num_input * 2.54), "cm")

숫자 입력> 26

26.0 inch
66.04 cm

In [19]:
num_input = float(input("원의 반지름 입력> "))
print()
print("반지름: ", num_input)
print("둘레 : ", 2 * 3.14 * num_input)
print("넓이 : ", 3.14 * num_input ** 2)

원의 반지름 입력> 5

반지름:  5.0
둘레 :  31.400000000000002
넓이 :  78.5

In [22]:
a = input("문자열 입력> ")
b = input("문자열 입력> ")

print(a, b)
c = a
a = b
b = c
print(a, b)

문자열 입력> 안녕하세요
문자열 입력> 아침입니다
안녕하세요 아침입니다
아침입니다 안녕하세요

In [23]:
a = "{}{}{}{}{}".format(101, 202, 303, 404, 505)

In [24]:
a

'101202303404505'

In [25]:
b = True

In [79]:
"{:9.5f}".format(52)

' 52.00000'

In [80]:
d = "abcde"

In [91]:
a = "           부왘"

In [92]:
a

'           부왘'

In [98]:
a.strip()

'부왘'

In [100]:
a = "한국 일본 중국 미국"

In [101]:
a

'한국 일본 중국 미국'

In [103]:
b = a.split()

In [104]:
b

['한국', '일본', '중국', '미국']

In [105]:
type(b)

list

In [111]:
a.find("중국")

6

In [128]:
a = input("> 1번째 숫자: ")
b = input("> 2번째 숫자: ")
print()
print("{} + {} = {}".format(a, b, int(a) + int(b)))

> 1번째 숫자: 5050550
> 2번째 숫자: 123124124

5050550 + 123124124 = 128174674

In [122]:
c = int(input())

50

In [131]:
import datetime

In [135]:
datetime.datetime.now()

datetime.datetime(2023, 4, 16, 18, 31, 2, 950412)

In [150]:
a = float(input("> 1번째 숫자 : "))
b = float(input("> 2번째 숫자 : "))
print()

if a > b:
    print("처음 입력했던 {}가 {}보다 더 큽니다".format(a, b))
    
elif b > a:
    print("두 번째로 입력했던 {}가 {}보다 더 큽니다".format(b, a))
    
else:
    print("{}와 {}는 같습니다".format(a, b))

> 1번째 숫자 : 10
> 2번째 숫자 : 10

10.0와 10.0는 같습니다

In [153]:
x = float(input("숫자 입력 : "))

if 10 < x < 20:
    print("조건에 맞습니다")
    
else:
    print("조건에 맞지 않습니다")

숫자 입력 : 15
조건에 맞습니다

In [154]:
list1 = [10, 50, 30, "문자", "나", "세상에!", True, False, ["또다른리스트", 10, 30]]

In [155]:
list1

[10, 50, 30, '문자', '나', '세상에!', True, False, ['또다른리스트', 10, 30]]

In [156]:
list1[3]

'문자'

In [160]:
len(list1)

9

In [157]:
list1[6]

True

In [185]:
list1 = []
index = 0

while True:
    input1 = input(f"{index}번째 인덱스 값 입력 (0을 입력하면 데이터 입력 종료) : ")
    
    if input1 == "0":
        input2 = input("종료하려면 Y를 입력하세요")
        if input2 == "Y":
            print("데이터 입력을 종료합니다.")
            break
            
        else:
            print("리스트에 0이 입력되었습니다.")
            list1.append(input1)
            index += 1
    else:
        print(f"리스트에 {input1}이 입력되었습니다")
        list1.append(input1)
        index += 1

check = int(input("위치 입력 : "))

if 0 <= check <= len(list1):
    print(f"이 리스트의 {check}번째 인덱스 값은 {list1[check]}입니다.")
    
else:
    print("해당 값은 이 리스트의 유효한 인덱스 넘버가 아닙니다")

0번째 인덱스 값 입력 (0을 입력하면 데이터 입력 종료) : 다시
리스트에 다시이 입력되었습니다
1번째 인덱스 값 입력 (0을 입력하면 데이터 입력 종료) : 해보자
리스트에 해보자이 입력되었습니다
2번째 인덱스 값 입력 (0을 입력하면 데이터 입력 종료) : 리스트메이커
리스트에 리스트메이커이 입력되었습니다
3번째 인덱스 값 입력 (0을 입력하면 데이터 입력 종료) : 0
종료하려면 Y를 입력하세요Y
데이터 입력을 종료합니다.
위치 입력 : 100
해당 값은 이 리스트의 유효한 인덱스 넘버가 아닙니다

In [184]:
list1

['1', '2', '6', '100', '500000', '우와', '내가', '짱이다', '0']

In [177]:
test = input("입력 ㄱㄱ : ")
test == "Y"

입력 ㄱㄱ : Y

True

In [1]:
list1 = [1, 2, 3, 4, 5]

In [2]:
list1

[1, 2, 3, 4, 5]

In [3]:
list1.pop(4)

5

In [4]:
list1

[1, 2, 3, 4]

In [5]:
del list1[2]

In [6]:
list1

[1, 2, 4]

In [7]:
list1 = [1, 2, 1, 2, 1, 2]

In [8]:
list1

[1, 2, 1, 2, 1, 2]

In [13]:
list1.remove(1)

In [14]:
list1

[2, 2, 2]

In [15]:
list1.clear()

In [16]:
list1

[]

In [17]:
list1 = [1, 2, 3]

In [18]:
2 in list1

True

In [20]:
4 in list1

False

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

In [22]:
list1 = [1,3,5,7,9]

In [23]:
for i in list1:
    print(i)

1
3
5
7
9

In [24]:
tu1 = (1,3,5,7,9,11)

In [25]:
type(tu1)

tuple

In [26]:
for i in tu1:
    print(i)

1
3
5
7
9
11

In [27]:
range(5)

range(0, 5)

In [29]:
for i in range(4, 10, 2):
    print(i)

4
6
8

In [31]:
list1 = [1,2,3]

In [32]:
list1

[1, 2, 3]

In [36]:
list1.extend(list1)

In [37]:
list1

[1, 2, 3, 1, 2, 3]

In [38]:
list1.insert(3, 0)

In [39]:
list1

[1, 2, 3, 0, 1, 2, 3]

In [40]:
list1.remove(3)

In [41]:
list1

[1, 2, 0, 1, 2, 3]

In [42]:
list1.pop(3)

1

In [43]:
str(555)

'555'

In [44]:
test1 = range(1,10)

In [45]:
test1

range(1, 10)

In [46]:
type(test1)

range

In [47]:
list(test1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
dict1 = {"name":"이진규", "age":33}

In [49]:
dict1

{'name': '이진규', 'age': 33}

In [51]:
dict1["age"]

33

In [52]:
dict1["weight"] = 65

In [55]:
dict1

{'name': '이진규', 'age': 33, 'weight': 65, 5: 3}

In [54]:
dict1[5] = 3

In [63]:
del dict1[5]

In [64]:
dict1

{'name': '이진규', 'age': 33, 'weight': 65}

In [65]:
"name" in dict1

True

In [67]:
print(dict1.get("없다"))

None

In [68]:
for a in dict1:
    print(a)

name
age
weight

In [70]:
del dict1["weight"]

In [71]:
dict1

{'name': '이진규', 'age': 33}

In [72]:
dict1.clear()

In [73]:
dict1

{}

In [78]:
dict1["name"] = "구름"

In [81]:
dict1

{}

In [80]:
dict1.clear()

In [82]:
pets = [
    {"name" : "구름", "age" : 5},
    {"name" : "초코", "age" : 3},
    {"name" : "아지", "age" : 1},
    {"name" : "호랑이", "age" : 1}]

In [83]:
pets[1]

{'name': '초코', 'age': 3}

In [85]:
pets = [
    {"name" : "구름", "age" : 5},
    {"name" : "초코", "age" : 3},
    {"name" : "아지", "age" : 1},
    {"name" : "호랑이", "age" : 1}]

print("# 우리 동네 애완 동물들")
for a in pets:
    print(f"{a}")

# 우리 동네 애완 동물들
{'name': '구름', 'age': 5}
{'name': '초코', 'age': 3}
{'name': '아지', 'age': 1}
{'name': '호랑이', 'age': 1}

In [94]:
pets = [
    {"name" : "구름", "age" : 5},
    {"name" : "초코", "age" : 3},
    {"name" : "아지", "age" : 1},
    {"name" : "호랑이", "age" : 1}]

print("# 우리 동네 애완 동물들")
for a in pets:
    print(a["name"],str(a["age"])+"살")

# 우리 동네 애완 동물들
구름 5살
초코 3살
아지 1살
호랑이 1살

In [98]:
numbers = [1,2,3,2,4,6,7,6,2,1,2,4,6,3,1,3,5,7,4,6,7,8,9,0,0,8,7,5,4,3,7,9]
counter = {}

for i in numbers:
    if counter.get(i) == None:
        counter[i] = 1
    else:
        counter[i] += 1
        
print(counter)

{1: 3, 2: 4, 3: 4, 4: 4, 6: 4, 7: 5, 5: 2, 8: 2, 9: 2, 0: 2}

In [119]:
char1 = {
    "name" : "기사",
    "level" : 12,
    "items" : {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"},
    "skill" : ["베기", "세게 베기", "아주 세게 베기"]
    }

for key in char1:
    if type(char1[key]) is str:
        print(key, ":", char1[key])
    elif type(char1[key]) is dict:
        for a in char1[key]:
            print(a, ":", char1[key][a])
    elif type(char1[key]) is list:
        for b in char1[key]:
            print(key, ":", b)

name : 기사
sword : 불꽃의 검
armor : 풀플레이트
skill : 베기
skill : 세게 베기
skill : 아주 세게 베기

In [118]:
char1["skill"]

['베기', '세게 베기', '아주 세게 베기']

In [122]:
list1 = [1,2,312323122131221321321]

In [123]:
len(list1)

3

In [126]:
list1 = [27, 32, 103, 57, 52]

In [127]:
range(len(list1))

range(0, 5)

In [130]:
for i in range(len(list1)):
    print(f"{i}번째 반복 : {list1[i]}")

0번째 반복 : 27
1번째 반복 : 32
2번째 반복 : 103
3번째 반복 : 57
4번째 반복 : 52

In [131]:
list1

[27, 32, 103, 57, 52]

In [137]:
for i in reversed(list1):
    print(i)

52
57
103
32
27

In [139]:
import time

In [140]:
time.time()

1682066293.3286405

In [141]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [148]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = {}

for a in range(0,4):
    character[key_list[a]] = value_list[a]

print(character)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [156]:
limit = 1000
i = 1

while sum(range(0,i)) < limit:
    i += 1
    
print(f"{i-1}을 더할 때 {limit}를 넘으며 그때의 값은 {sum(range(0,i))}입니다.")

45을 더할 때 1000를 넘으며 그때의 값은 1035입니다.

In [162]:
limit = 100
a = 0
maximum = 0

while a < limit:
    a += 1
    if a * (limit-a) > maximum:
        maximum = a * (limit-a)
        maxa = a

print(f"{maxa} * {limit-maxa} = {maximum}")

50 * 50 = 2500

In [167]:
list1 = [1, 2, 3, 4, 5, 6]

for i in reversed(list1):
    print(f"첫 번째 반복문 : {i}")
    
for i in reversed(list1):
    print(f"두 번째 반복문 : {i}")

첫 번째 반복문 : 6
첫 번째 반복문 : 5
첫 번째 반복문 : 4
첫 번째 반복문 : 3
첫 번째 반복문 : 2
첫 번째 반복문 : 1
두 번째 반복문 : 6
두 번째 반복문 : 5
두 번째 반복문 : 4
두 번째 반복문 : 3
두 번째 반복문 : 2
두 번째 반복문 : 1

In [176]:
list1 = [[1,2], [2,3], [3,4]]

In [177]:
list1

[[1, 2], [2, 3], [3, 4]]

In [179]:
enumerate(list1)

In [180]:
list(enumerate(list1))

[(0, [1, 2]), (1, [2, 3]), (2, [3, 4])]

In [181]:
type(enumerate(list1))

enumerate

In [182]:
dict1

{'이름': '이진규', '나이': 31, '체중': 65}

In [183]:
enumerate(dict1)

In [185]:
list(enumerate(dict1))

[(0, '이름'), (1, '나이'), (2, '체중')]

In [188]:
a = dict1.items()

In [189]:
a

dict_items([('이름', '이진규'), ('나이', 31), ('체중', 65)])

In [192]:
list(a)

[('이름', '이진규'), ('나이', 31), ('체중', 65)]

In [193]:
test = ("문자열1" "문자열2")

In [194]:
test

'문자열1문자열2'

In [195]:
list1

[[1, 2], [2, 3], [3, 4]]

In [243]:
a = reversed(list1)

In [244]:
next(a)

[3, 4]

In [207]:
a

In [245]:
enumerate(list1)

In [248]:
dict1.items()

dict_items([('이름', '이진규'), ('나이', 31), ('체중', 65)])

In [255]:
count = 0

for i in range(1, 101):
    if "{:b}".format(i).count("0") == 1:
        count += i
        print("{} : {}".format(i, "{:b}".format(i)))
        
print("합계 :", count)

2 : 10
5 : 101
6 : 110
11 : 1011
13 : 1101
14 : 1110
23 : 10111
27 : 11011
29 : 11101
30 : 11110
47 : 101111
55 : 110111
59 : 111011
61 : 111101
62 : 111110
95 : 1011111
합계 : 539

In [256]:
def f(x):
    return (2*x)+1

In [257]:
print(f(10))

21

In [258]:
def f(x):
    return (x**2)+(x*2)+1

In [260]:
print(f(10))

121

In [261]:
def mul(*values):
    a = 1
    for i in values:
        a *= i
    print(a)

In [262]:
mul(5,7,9,10)

3150

In [9]:
cnt = 0

def fib(n):
    global cnt
    cnt += 1
    if n == 1:
        return 1
    if n == 2:
        return 1
    else:
        return fib(n-2) + fib(n-1)

In [10]:
fib(40)

102334155

In [11]:
cnt

204668309

In [20]:
mem = {1:1, 2:1}

def fib2(n):
    global mem
    if n in mem:
        return mem[n]
    else:
        cal = fib2(n-2) + fib2(n-1)
        mem[n] = cal
        return cal

In [33]:
fib2(150)

9969216677189303386214405760200

In [28]:
def flatten(data):
    result = []
    for i in data:
        if type(i) is list:
            result += flatten(i)
        else:
            result.append(i)
    return result

In [29]:
example = [[1, 2, 3], [4, [5, 6]], 7, [8, 9], 9, [7, 8]]

In [30]:
print("원본:", example)
print("변환:", flatten(example))

원본: [[1, 2, 3], [4, [5, 6]], 7, [8, 9], 9, [7, 8]]
변환: [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 7, 8]

In [75]:
minsitpeople = 2
maxsitpeople = 10
people = 100
memo = {}

def sol(a, b):
    key = str([a, b])
    if key in memo:
        return memo[key]
    if a < 0:
        return 0
    if a == 0:
        return 1
    c = 0
    for i in range(b, maxsitpeople+1):
        c += sol(a-i, i)
    memo[key] = c
    return c

In [77]:
sol(100, 2)

437420

In [79]:
tup1 = 10, 20, 30, 40

In [81]:
type(tup1)

tuple

In [83]:
a, b, c = 10, 20, 30

In [84]:
a

10

In [86]:
a, b, c

(10, 20, 30)