In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("./data/train.csv")

In [4]:
df.head()

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018352 entries, 0 to 2018351
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   county              int64
 1   is_business         int64
 2   product_type        int64
 3   target              float64
 4   is_consumption      int64
 5   datetime            object
 6   data_block_id       int64
 7   row_id              int64
 8   prediction_unit_id  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 138.6+ MB

In [6]:
df.shape

(2018352, 9)

In [7]:
df.isnull().sum()

county                  0
is_business             0
product_type            0
target                528
is_consumption          0
datetime                0
data_block_id           0
row_id                  0
prediction_unit_id      0
dtype: int64

In [8]:
client = pd.read_csv("./data/client.csv")

In [9]:
client.head()

,product_type,county,eic_count,installed_capacity,is_business,date,data_block_id
0,1,0,108,952.89,0,2021-09-01,2
1,2,0,17,166.40,0,2021-09-01,2
2,3,0,688,7207.88,0,2021-09-01,2
3,0,0,5,400.00,1,2021-09-01,2
4,1,0,43,1411.00,1,2021-09-01,2

In [10]:
client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41919 entries, 0 to 41918
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_type        41919 non-null  int64
 1   county              41919 non-null  int64
 2   eic_count           41919 non-null  int64
 3   installed_capacity  41919 non-null  float64
 4   is_business         41919 non-null  int64
 5   date                41919 non-null  object
 6   data_block_id       41919 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 2.2+ MB

In [11]:
gas = pd.read_csv("./data/gas_prices.csv")

In [12]:
gas.head()

,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date,data_block_id
0,2021-09-01,45.23,46.32,2021-08-31,1
1,2021-09-02,45.62,46.29,2021-09-01,2
2,2021-09-03,45.85,46.40,2021-09-02,3
3,2021-09-04,46.30,46.80,2021-09-03,4
4,2021-09-05,46.30,46.58,2021-09-04,5

In [13]:
gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   forecast_date          637 non-null    object
 1   lowest_price_per_mwh   637 non-null    float64
 2   highest_price_per_mwh  637 non-null    float64
 3   origin_date            637 non-null    object
 4   data_block_id          637 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 25.0+ KB

In [15]:
forecast = pd.read_csv('./data/forecast_weather.csv', low_memory = False)

In [16]:
forecast.shape

(3424512, 18)

In [17]:
forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424512 entries, 0 to 3424511
Data columns (total 18 columns):
 #   Column                             Dtype
---  ------                             -----
 0   latitude                           float64
 1   longitude                          float64
 2   origin_datetime                    object
 3   hours_ahead                        int64
 4   temperature                        float64
 5   dewpoint                           float64
 6   cloudcover_high                    float64
 7   cloudcover_low                     float64
 8   cloudcover_mid                     float64
 9   cloudcover_total                   float64
 10  10_metre_u_wind_component          float64
 11  10_metre_v_wind_component          float64
 12  data_block_id                      int64
 13  forecast_datetime                  object
 14  direct_solar_radiation             float64
 15  surface_solar_radiation_downwards  float64
 16  snowfall                           float64
 17  total_precipitation                float64
dtypes: float64(14), int64(2), object(2)
memory usage: 470.3+ MB

In [18]:
forecast.head()

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-09-01 02:00:00,1,15.655786,11.553613,0.904816,0.019714,0.000000,0.905899,-0.411328,-9.106137,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
1,57.6,22.2,2021-09-01 02:00:00,1,13.003931,10.689844,0.886322,0.004456,0.000000,0.886658,0.206347,-5.355405,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
2,57.6,22.7,2021-09-01 02:00:00,1,14.206567,11.671777,0.729034,0.005615,0.000000,0.730499,1.451587,-7.417905,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
3,57.6,23.2,2021-09-01 02:00:00,1,14.844507,12.264917,0.336304,0.074341,0.000626,0.385468,1.090869,-9.163999,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
4,57.6,23.7,2021-09-01 02:00:00,1,15.293848,12.458887,0.102875,0.088074,0.000015,0.176590,1.268481,-8.975766,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0

In [1]:
import os

In [7]:
os.listdir("C:/Program Files (x86)")

['Arturia',
 'ASUS',
 'Battle.net',
 'Common Files',
 'desktop.ini',
 'EasyAntiCheat',
 'ExpressVPN',
 'FinalWire',
 'Google',
 'HNC',
 'InstallShield Installation Information',
 'Intel',
 'Internet Explorer',
 'Kakao',
 'LightingService',
 'Microsoft',
 'Microsoft GameInput',
 'Microsoft Visual Studio',
 'Microsoft.NET',
 'MSBuild',
 'NVIDIA Corporation',
 'Razer',
 'Razer Chroma SDK',
 'Realtek',
 'Reference Assemblies',
 'Samsung',
 'SoftForum',
 'Steam',
 'Windows Defender',
 'Windows Kits',
 'Windows Mail',
 'Windows Media Player',
 'Windows NT',
 'Windows Photo Viewer',
 'Windows Sidebar',
 'WindowsPowerShell']